@charset "utf-8";
/*reset*/
body,ol,ul,li,dl,dd,p,h1,h2,h3,h4,h5,form,input,button,textarea,tr,th,td,div{margin:0;padding:0;box-sizing:border-box;}
body{font-size:12px;color:#333;height:100%;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}

/*html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}*/
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
ol,ul,li{list-style:none outside none}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
input{outline:none; border:none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button, html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
label, select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{cursor:pointer;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;outline:none;}
em,i{font-style:normal}
table{border-collapse:collapse;border-spacing:0;}
body{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color:#fff;
}
/*::-webkit-input-placeholder{color:#A6A0A0}
::-moz-placeholder{color:#A6A0A0}
:-moz-placeholder{color:#A6A0A0}*/
.clearfix{zoom:1;}
.clearfix:after{
  content:"";
  display:block;
  height:0;
  line-height:0;
  clear:both;
  visibility:hidden;
}
/*超出部分省略号*/
.line-ellipsis01{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.line-ellipsis02{ display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;//限制行数
    -webkit-box-orient: vertical;}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-align{
  text-align: center;
}
.fr{
  float:right;
}
.fl{
  float:left;
}
.cursor{
  cursor:pointer;
}
.inline-block{
  display: inline-block;
}

.audit-btn{
  width: 1.65rem;
  height: .66rem;
  line-height: .66rem;
  text-align: center;
  border-radius: .33rem;
  font-size: .3rem;
}
  
.common-btn{
  width:2.4rem;
  height:.94rem;
  background:rgba(206,61,58,1);
  border-radius:.47rem;
  line-height: .94rem;
  text-align:center;
  color: #fff;
  font-size: .3rem
}
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
/*去除头部下划线*/
.van-hairline--bottom::after{
  border-bottom:none!important;
}
.van-nav-bar__title{
  font-size: .36rem!important;
  color: #333!important;
}
.van-nav-bar .van-icon{
  color: #aaa!important
}
.van-dialog__confirm, .van-dialog__confirm:active{
  color:#d45855!important;
}
.van-dialog__message{
  text-align: center;
}
/*kkfff*/
.vux-header .vux-header-left .left-arrow:before{
  border-top:1px solid #aaa!important;
  border-left:1px solid #aaa!important;
}
.vux-popup-header-right{
  color:#d45855!important;
}
.van-nav-bar__title{
  /*color: #333!important;*/
  font-size: .36rem!important;
  font-weight: 700!important;
}
.van-nav-bar__left{
  font-size: 18px!important
}
.pd16{
  width: 100%;
  height: .16rem;
  background: #efefef;
}
.common-icon{
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*.icon-position{
  width: .44rem;
  height: .44rem;
  background-image: url(../images/position.png);
}*/
.icon-delete{
  width: .4rem;
  height: .4rem;
  background-image: url(../images/delete.png);
}
.icon-position01{
  width: .4rem;
  height: .4rem;
  background-image: url(../images/position01.png);
}
.icon-position02{
  width: .4rem;
  height: .4rem;
  background-image: url(../images/position02.png);
}
.icon-notice{
  width: .41rem;
  height: .41rem;
  background-image: url(../images/notice.png);
}
.icon-question{
  width: .41rem;
  height: .41rem;
  background-image: url(../images/question.png);
}
.icon-fill{
  width: .41rem;
  height: .41rem;
  background-image: url(../images/fill.png);
}
.icon-more{
  width: .16rem;
  height: .3rem;
  background-image: url(../images/right-arrow.png);
}
.icon-edit{
  width: .24rem;
  height: .3rem;
  background-image: url(../images/edit.png);
}
.icon-search{
  width: .36rem;
  height: .31rem;
  background-image: url(../images/search.png);
}
.icon-search01{
  width: .36rem;
  height: .31rem;
  background-image: url(../images/search01.png);
}
.icon-back{
  width: .36rem;
  height: .36rem;
  background-image: url(../images/back.png);
}
.icon-date{
  width: .46rem;
  height: .46rem;
  background-image: url(../images/date.png);
}
.nav-icon{
  display: block;
  width: .41rem;
  height: .41rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.icon-home{
  background-image: url(../images/home.svg);
}
.icon-home-on{
  background-image: url(../images/home_s.svg);
}
.icon-visitors{
  background-image: url(../images/visitors.svg);
}
.icon-visitors-on{
  background-image: url(../images/visitors_s.svg);
}
.icon-members{
  background-image: url(../images/members.svg);
}
.icon-members-on{
  background-image: url(../images/members_s.svg);
}
.icon-audit{
  background-image: url(../images/audit.svg);
}
.icon-audit-on{
  background-image: url(../images/audit_s.svg);
}
.icon-mine{
  background-image: url(../images/mine.svg);
}
.icon-mine-on{
  background-image: url(../images/mine_s.svg);
}
.login-icon{
  display: block;
  width: .28rem;
  height: .34rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.icon-phone{
  background-image: url(../images/phone.png);
}
.icon-code{
  background-image: url(../images/code.png);
}
.icon-house{
  background-image: url(../images/hourse_number.png);
}
.icon-address{
  background-image: url(../images/address.png);
}



/*重置laydate的css*/
#test1{
  width:100%;
  border:1px solid #333
}
.layui-laydate-range{
  left:0!important;
  top:46px!important;
  width:100%!important;
}
.layui-laydate-main{
  width:100%!important;
}
.laydate-main-list-1{
  display:none!important
}
.layui-laydate-range .laydate-main-list-0 .laydate-next-m, .layui-laydate-range .laydate-main-list-0 .laydate-next-y, .layui-laydate-range .laydate-main-list-1 .laydate-prev-m, .layui-laydate-range .laydate-main-list-1 .laydate-prev-y{
  display:block!important
}
.layui-laydate-content table{
  width:100%!important;
}
.layui-laydate-content td.laydate-selected,.layui-laydate .layui-this{
  background-color: #D45855!important;
  border-radius: 50%!important;
  color: #fff!important;
}
.layui-laydate-content td, .layui-laydate-content th{
  height: .96rem!important;
}

